body{
display:flex;
justify-content: center;
align-items: center;
margin: auto;
}

.sketchContainer{
height: 500px;
width: 500px;
background-color: blue;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.gridRow {
    display: flex;
}

.gridUnit{
    background-color:white;
    border: 1px solid blue;
    height: 31.25px;
    width: 31.25px;
}