body{
display:flex;
justify-content: center;
align-items: center;
margin: auto;
}

.sketchContainer{
height: 500px;
width: 500px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.gridRow {
    display: flex;
}

.gridUnit{
    background-color:white;
    outline: .5px solid rgb(240, 240, 240);
    outline-offset: -1px;
}

.gridUnit:hover{
    background-color:black;
}